@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  padding: 0 10px;
  background: #675AFE;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  border-radius: 7px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  font-size: 18px;
}

::selection{
  color: #fff;
  background: #675AFE;
}

.wrapper{
  width: 800px;
  padding: 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);

  h3{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  }

  form{
    margin: 40px 0 20px 0;

    &.exchange-rate{
      font-size: 17px;
      margin: 20px 0 30px;    
    }

    button{
      height: 52px;
      color: #fff;
      font-size: 17px;
      cursor: pointer;
      background: #675AFE;
      transition: 0.3s ease;

      &:hover{
        background: #4534fe;
      }
    }
    
  }
}

.drop-list .icon{
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}
